[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "*"
certifi = "*"
cffi = "*"
chardet = "*"
contextlib2 = "*"
cryptography = "*"
dj-database-url = "*"
django-bootstrap3 = "*"
enum34 = "*"
gunicorn = "*"
idna = "*"
ipaddress = "*"
olefile = "*"
psycopg2 = "*"
pycparser = "*"
pytz = "*"
raven = "*"
requests = "*"
six = "*"
twilio = "*"
urllib3 = "*"
whitenoise = "*"
Django = "*"
Pillow = "*"
PyJWT = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.9"
