{% extends "tradefood/base.html" %}

{% block content %}

<h2>Bid from</h2>

<h1>{{ bid.merchant.name }}</h1>

<h2 class="text-info">{{ bid.description }}</h2>
{% if bid.retail_value %}
  <p>Retail value ${{ bid.retail_value }}</p>
{% endif %}

{% if bid.is_alive %}
  <form method="post" action="{% url 'accept-bid' bid.pk %}">
    {% csrf_token %}
    <input type="submit" value="Accept bid" />
  </form>
{% else %}
  <p class="text-warning">This bid has expired.</p>
{% endif %}

{% endblock %}