{% extends "tradefood/base.html" %}

{% block content %}

<h2>{{ bid.offer.merchant.name }}'s offer:</h2>

<p><a href="{% url 'offer-details' bid.offer.pk %}">{{ bid.offer.description }}</a></p>

<h2>Your bid:</h2>

<p>{{ bid.description }}</p>

{% if bid.accepted %}
  <h3>Great news: your bid was accepted by {{ bid.offer.merchant.name }}!</h3>
  <p>Someone from there should be contacting you soon, but in case they don't, here's their contact info:</p>
  <ul>
    <li class="text-info">{{ bid.offer.contact_name }}</li>
    <li class="text-info">{{ bid.offer.contact_phone }}</li>
  </ul>
{% else %}
  {% if not bid.is_alive %}
    <p class="text-warning">Bid expired.</p>
  {% endif %}
{% endif %}

{% endblock %}