{% extends "tradefood/base.html" %}

{% block content %}

<h1>My bids</h1>
  <div class="row">
  {% for bid in bids %}
    <div class="col-md-6">
      <div class="bid panel panel-primary">
        <div class="panel-body">
          <p class="lead">
            {{ bid.description }} for {{ bid.offer.description }} from {{ bid.offer.merchant.name }}
            {% if not bid.is_alive and not bid.accepted %}
              <span class="badge">Bid expired</span>
            {% endif %}
          </p>
          {% if bid.accepted %}
            <p class="lead text-info"><strong>This bid was accepted! Follow details link below for contact info.</strong></p>
          {% endif %}
          <a href="{% url 'bid-details' bid.pk %}">Details</a>
        </div>
      </div>
    </div>
  {% empty %}
    <h2>You have no open bids.</h2>
  {% endfor %}
  </div>

{% endblock %}