{% extends "tradefood/base.html" %}

{% load bootstrap3 %}

{% block content %}

<h1 class="text-center">Place a bid</h1>
<p class="text-center text-info">for {{ description }} from {{ merchant }}</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-8">
    <form method="post" action="{% url 'submit-bid' offer_pk %}">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}