<!DOCTYPE html>
<html lang="en">
<head>

  {% load bootstrap3 %}

  {% load static %}

  {% bootstrap_css %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pepperclove</title>

  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% block custom_css %}{% endblock %}
</head>

<body style="padding-top: 50px; padding-bottom: 20px;">
  <nav class="navbar navbar-inverse navbar-fixed-top nav-theme" id="bootstrap-overrides">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="font-family: 'Pacifico', cursive;" href="{% url 'home' %}">Pepperclove</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% if request.resolver_match.url_name == 'how-it-works' %}active{% endif %}"><a href="{% url 'how-it-works' %}">How it works</a></li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="{% if request.resolver_match.url_name == 'submit-offer' %}active{% endif %}"><a href="{% url 'submit-offer' %}">Post a trade</a></li>
            <li class="{% if request.resolver_match.url_name == 'open-offers' %}active{% endif %}"><a href="{% url 'open-offers' %}">Open offers</a></li>
            <li class="{% if request.resolver_match.url_name == 'my-offers' %}active{% endif %}"><a href="{% url 'my-offers' %}">My offers</a></li>
            <li class="{% if request.resolver_match.url_name == 'my-bids' %}active{% endif %}"><a href="{% url 'my-bids' %}">My bids</a></li>
            <li>{{ user.merchant.name }}</li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
          </ul>
        {% else %}
          {% block navbar_right %}
          <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
            {% csrf_token %}  
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endblock %}
        {% endif %}
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      {% block error %}
        <p class="lead text-warning-custom">{{ error_message }}</p>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>


  <div class="container">
    {% block info %}{% endblock %}  

    <hr>

    <footer>
      <p>&copy; 2017 Pepperclove</p>
    </footer>
  </div> <!-- /container -->

  {% bootstrap_javascript %}
</body>
</html>