{% extends "tradefood/base.html" %}

{% block content %}

<div class="text-center">

  {% if user.is_authenticated %}

    <h1>Pepperclove</h1>

    <h2>Time to get that trade on!</h2>

    <p><a href="/trade/">Post</a> something or see what's being <a href="/offers/"> offered</a>

  {% else %}

    <h1>Pepperclove</h1>

    <h2>where restaurants go to trade food!</h2>

    <p class="lead">Go ahead and <a href="/login">log in</a> or <a href="/register/">register</a> to start trading.</p>

  {% endif %}

</div>

{% endblock %}