{% extends "tradefood/base.html" %}

{% block content %}

<h1>
  {{ offer.description }}
  {% if not offer.bid_accepted and not offer.is_alive %}
    <span class="badge badge-text">Expired</span>
  {% endif %}
</h1>

{% if not offer_owner %}
  <h2>from {{ offer.merchant.name }}</h2>
{% endif %}

{% if offer_owner %}
  {% if offer.bid_accepted %}
    <p class="text-info">You accepted the bid from {{ winning_bid.merchant.name }} for {{ winning_bid.description}}!</p>
    <p>Give them a call to arrange the trade:</p>
    <ul>
      <li>Contact {{ winning_bid.contact_name }}</li>
      <li>{{ winning_bid.contact_phone }}</li>
    </ul>
  {% else %}
    <h3>Bids:</h3>
    <div class="row">
    {% for bid in bids %}
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <p>
              <a href="{% url 'bid-details' bid.pk %}">{{ bid.description }}</a>
              {% if not bid.is_alive %}
                <span class="badge">Expired</span>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-md-2">None</div>
    {% endfor %}
  {% endif %}
{% else %}
  {% if existing_bid %}
    {# probably want a link to the bid here #}
    <p class="text-warning">You've already bid on this offer.</p>
  {% else %}
    <a href="{% url 'submit-bid' offer.pk %}">Place a bid</a>
  {% endif %}
{% endif %}

{% endblock %}