{% extends "tradefood/base.html" %}

{% block content %}

<h1>Available offers</h1>
  <div class="row">
  {% for offer in offers %}
    <div class="col-md-6">
      <div class="offer panel panel-primary">
        <div class="panel-body">
          <p>{{ offer.description }}</p>
          <p>from {{ offer.merchant.name }}</p>
          <!-- <a href="/offers/{{ offer.pk }}/">Details</a> -->
          <a href="{% url 'submit-bid' offer.pk %}">Place a bid</a>
        </div>
      </div>
    </div>
  {% empty %}
    <h2>No open offers currently.</h2>
  {% endfor %}
  </div>

{% endblock %}