{% extends "tradefood/base.html" %}

{% load bootstrap3 %}

{% block content %}

<h1>Offer something to trade</h1>

<div class="row">
  <div class="col-md-6 col-xs-8">
    <form method="post" action="{% url 'submit-offer' %}">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}