{% extends "tradefood/base.html" %}

{% block content %}

<h1>My offers</h1>
  {% for offer in offers %}
    <div class="row">
      <div class="col-md-6">
        <div class="offer panel panel-default">
          <div class="panel-body">
            <h2>{{ offer.description }}
              {% if offer.available %}
                {% if offer.bids.count > 0 %}
                  <span class="badge">{{ offer.bids.count }}</span>
                {% endif %}</h2>
              {% else %}
                {% if offer.bid_accepted %}
                  <p class="text-info"><strong>You accepted a bid for this offer.</strong></p>
                {% else %}
                  <p class="lead">This offer has expired.</p>
                {% endif %}
              {% endif %}
            <a href="/offers/{{ offer.pk }}/">Details</a>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <h2>You have no open offers.</h2>
  {% endfor %}

  {% endblock %}