/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

/*.TODO {
  font-family: 'Dosis', sans-serif;
  font-family: 'Pacifico', cursive;
}*/

h1 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 50px;
}

.nav-theme {
  background-color: #3C8D2F;
}

nav a {
  color: white;
}

.jumbotron {
  margin-top: 40px;
}