/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*.TODO {
  font-family: 'Dosis', sans-serif;
  font-family: 'Pacifico', cursive;
}*/

.nav-theme {
  background-color: #3C8D2F;
}

.nav-theme a {
  color: #fff;
}